@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SEO Friendly URLs</h1>
    <p class="lead">Demonstrates how to do SEO Friendly URLs in ASP.NET MVC</p>
    <p><a href="@Url.Action("Index", "Products")" class="btn btn-primary btn-lg">View Products &raquo;</a></p>
</div>

